// MQTT username and password

const char* mqtt_username = "username";
const char* mqtt_password = "password";

// MQTT Broker, change as required
const char* mqtt_server = "0.0.0.0";

// Wifi access point and passwords
const char* SSID_1 = "AP1";
const char* Password_1 = "password";

const char* SSID_2 = "AP2";
const char* Password_2 = "password";

const char* SSID_3 = "AP3";
const char* Password_3 = "password";

const char* SSID_4 = "AP4";
const char* Password_4 = "password";
